<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/editormd.min.css">
    <link rel="stylesheet" href="/css/styles.min.css">
</head>
<body>
<%- include('common/header.ejs') %>
    <div class="wrapper">
        <div class="container" style="width: 80%; max-width: 80%">
            <div class="edit-title">
                <% if (locals.data) { %>
                    <input type="text" placeholder="Title" value="<%= data.title %>">       
                <% } else { %>
                    <input type="text" placeholder="Title">
                <% } %>
            </div>
            <div class="edit-tags">
                <% if (locals.data) { %>
                    <input type="text" placeholder="Tags" value="<%= data.tags %>">       
                <% } else { %>
                    <input type="text" placeholder="Tags">
                <% } %>
            </div>
            <div class="file-field input-field">
                <div class="btn">
                  <span>封面</span>
                  <input type="file" id="post_cover">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                </div>
              </div>
            <div id="editormd">
                <% if (locals.data) { %>
                    <textarea style="display:none;"><%= data.markdown %></textarea>
                <% } else { %>
                    <textarea style="display:none;"></textarea>
                <% } %>
            </div>
            <div class="edit-submit-btn right-align">
                <a class="waves-effect waves-light btn">提交</a>
            </div>
        </div>
    </div>
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Error</h4>
            <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>

    <% if (locals.data) { %>
        <script>
            var Is_Edit_Post = true,
                Post_Id = <%= data.id %>

        </script>
    <% } %>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/editormd.min.js"></script>
    <script src="https://cdn.bootcss.com/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="/js/public.js"></script>
    <script src="/js/edit.js"></script>
    <%- include('common/footer.ejs') %>