<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.min.css">
</head>
<body>
<%- include('common/header.ejs') %>
    <section class="wrapper">
        <section class="container home">
        <div class="row">
            <div class="col s12 m12"> 
              <% for(var i = 0; i < posts.length; i++) { %>
                <div class="card">
                    <div class="card-image">
                      <img src="<%= posts[i].cover %>">
                      <a href="/post/<%= posts[i].id %>"><span class="card-title"><%= posts[i].title %></span></a>
                    </div>
                    <div class="card-content">  
                      <p><%= postshow100(posts[i].markdown.toString()) %>...
                        <a href="/post/<%= posts[i].id %>">show more</a>
                    </p>
                    </div>
                    <div class="card-action">
                      <a href="#" class="<%= randomColor() %> btn">tag1</a>
                      <a href="#" class="<%= randomColor() %> btn">tag2</a>
                      <a href="#" class="<%= randomColor() %> btn">tag3</a>
                    </div>  
                  </div>
              <% } %>
            </div>
          </div>
    </section>
    </section>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="js/public.js"></script>
    <%- include('common/footer.ejs') %>